{% extends "base.html" %}

{% block title %}Logout{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
            </div>
            <div class="col-sm">
                <div class="<div class="card">
                    <div class="card-body bg-dark mt-3">
                        <h4 class="card-title text-center text-white bg-info">Good Bye!</h4>
                        <div class="card-text text-center text-white bg-light">
                            <p>You have been logged out.</p>
                            <a href="{% url 'index' %}" class="btn btn-info mb-2" role="button">Home</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm">
            </div>
        </div>
    </div>
{% endblock %}
