{% extends "base.html" %}

{% block title %}Email Sent{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                <div class="<div class="card">
                    <div class="card-body bg-dark mt-3">
                        <h4 class="card-title text-center text-white bg-info">Email Sent</h4>
                        <div class="card-text text-center text-dark bg-light">
                            <h4>Check your inbox.</h4>
                            <p>We've emailed you instructions for setting your password. You should receive the email shortly!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
