{% extends "base.html" %}

{% block title %}Reset Complete{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                <div class="<div class="card">
                    <div class="card-body bg-dark mt-3">
                        <h4 class="card-title text-center text-white bg-info">Password reset complete</h4>
                        <div class="card-text text-center text-dark bg-light">
                            <p>Your new password has been set. You can log in now on the <a href="{% url 'login' %}">log in page</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
