{% extends "base.html" %}

{% block title %}Add User{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                <div class="<div class="card">
                    <div class="card-body bg-dark mt-3">
                        <h4 class="card-title text-center text-white bg-info">Add a User to {{ po.name }}</h4>
                            <form method="post">
                                {% csrf_token %}
                                <div class="card-text text-center text-white bg-light">
                                    {{ form.as_p }}
                                    <button class="btn bg-info text-white mb-2" type="submit">Add User</button>
                                </div>
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
