{% extends "base.html" %}

{% block title %}Add Officer{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row ml-4"">
        <div class="col-sm">
            <div class="card mb-3">
                <div class="card-body">
                    <h1 class="card-title text-center">
                        Add Officer to Report: {{ report.title }}
                    </h1> <!-- card-title -->
                    <div class="card-text text-center">
                        <form method="post">
                            {% csrf_token %}
                            <div class="card-text text-center">
                                {{ form.as_p }}
                                <button class="btn bg-dark mt-2 mb-2 text-white" type="submit">Add Officer</button>
                            </div>
                        </form>
                    </div> <!-- card-text -->
                </div> <!-- card-body -->
            </div> <!-- card -->
        </div> <!-- col-sm -->
    </div> <!-- row -->
</div> <!-- container-fluid -->






<!--
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                <div class="<div class="card">
                    <div class="card-body bg-dark mt-3">
                        <h4 class="card-title text-center text-white bg-info">Add an Officer to {{ report.title }}</h4>
                            <form method="post">
                                {% csrf_token %}
                                <div class="card-text text-center text-white bg-light">
                                    {{ form.as_p }}
                                    <button class="btn bg-info text-white mb-2" type="submit">Add Officer</button>
                                </div>
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
{% endblock %}
