{% extends "base.html" %}

{% block title %}Create PO{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                <div class="<div class="card">
                    <div class="card-body bg-dark mt-3">
                        <h4 class="card-title text-center text-white bg-info">Create A New Principles Office</h4>
                        <div class="card-text text-center text-white bg-light">
                            <form method="post">
                                {% csrf_token %}
                                <div class="text-dark">
                                    {{ form.as_p }}
                                </div>
                                <button class="btn bg-info text-white mb-2" type="submit">Create</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
