{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm mt-3">
            </div>
            <div class="col-sm mt-3">
                <div class="card" style="width:36rem;">
                    <div class="card-body">
                        <h1 class="card-title text-center">Dashboard</h1>
                        <div class="card-text text-center">
                            <p>{{ user.get_short_name }}, Here's what is going on in <a href="{% url 'po' po.id %}" class="btn btn-dark mt-2 mb-2" role='button'>{{ po.name }}</a></p>
                        </div> <!-- card-text -->
                    </div> <!-- card-body -->
                </div> <!-- card -->
            </div> <!-- col-sm -->
            <div class="col-sm mt-3">
            </div>
        </div> <!-- row -->
        <hr />
        <div class="row">
            <div class="col-sm">
                <h4 class="text-center">Active Reports</h4>
                    <div class="card-deck">
                        {% for report in active_reports %}
                            {% if forloop.counter|divisibleby:"4"  %}
                                </div> <!-- card-deck -->
                                <div class="card-deck">
                                    <div class="card" style="width: 16rem;">
                                        <div class="card-body text-center">
                                            <a href="{% url 'reports:report' report.id %}" class="btn btn-dark mt-2 mb-2" role='button'>Report #{{ report.id }}</a>
                                            <p class="card-subtitle mb-2 text-muted">{{ report.title }}</p>
                                            <div class="card-text text-center">
                                                <p>{{ report.synopsis }}</p>
                                            </div> <!-- card-text -->
                                        </div> <!-- card-body -->
                                    </div> <!-- card -->
                                {% else %}
                                    <div class="card" style="width: 16rem;">
                                        <div class="card-body text-center">
                                            <a href="{% url 'reports:report' report.id %}" class="btn btn-dark mt-2 mb-2" role='button'>Report #{{ report.id }}</a>
                                            <p class="card-subtitle mb-2 text-muted text-center">{{ report.title }}</p>
                                            <div class="card-text text-center">
                                                <p>{{ report.synopsis }}</p>
                                            </div> <!-- card-text -->
                                        </div> <!-- card-body -->
                                    </div> <!-- card -->
                                {% endif %}
                            {% endfor %}
                        </div> <!-- card-deck -->
                </div> <!-- card-body -->
            </div> <!-- col-sm -->
        </div> <!-- row -->
    </div> <!-- container -->
{% endblock %}
