{% extends "base.html" %}

{% block title %}PO{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                <div class="card mb-3">
                    <div class="card-body">
                        <h1 class="card-title text-center">
                            {{ po.name }}
                        </h1> <!-- card-title -->
                    </div> <!-- card-body -->
                </div> <!-- card -->
            </div> <!-- col-sm -->
        </div> <!-- row -->
        <div class="row">
            <div class="col-sm">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">
                            Created By:
                        </h5> <!-- card-title -->
                        <p class="card-text text-center">
                            {{ po.creator }}
                        </p>
                    </div> <!-- card-body -->
                </div> <!-- card -->
            </div> <!-- col-sm -->
            <div class="col-sm">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">
                            Officers:
                        </h5> <!-- card-title -->
                        {% for officer in officers %}
                            <p class="card-text text-center">{{ officer }}</p>
                        {% endfor %}
                    </div> <!-- card-body -->
                </div> <!-- card -->
            </div> <!-- col-sm -->
            <div class="col-sm">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">
                            Created On:
                        </h5> <!-- card-title -->
                        <p class="card-text text-center">
                            {{ po.created}}
                        </p>
                    </div> <!-- card-body -->
                </div> <!-- card -->
            </div> <!-- col-sm -->
        </div> <!-- row -->
        <div class="row">
            <div class="col-sm">
            </div> <!-- col-sm -->
            <div class="col-sm">
                <div class="card mt-3" style="width: 56em;">
                    <div class="card-body text-center">
                        <a href="{% url 'add_user' po.id %}" class="btn btn-dark mt-2 mb-2" role='button'>Add User</a>
                        <a href="{% url 'remove_user' po.id %}" class="btn btn-dark mt-2 mb-2" role='button'>Remove User</a>
                        <a href="{% url 'index' %}" class="btn btn-dark mt-2 mb-2" role='button'>Create Report</a>
                    </div> <!-- card-body -->
                </div> <!-- card -->
            </div> <!-- col-sm -->
            <div class="col-sm">
            </div> <!-- col-sm -->
        </div> <!-- row -->
    </div> <!-- container-fluid -->
{% endblock %}
