{% extends "base.html" %}

{% block title %}PO{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row ml-4"">
        <div class="col-sm">
            <div class="card mb-3">
                <div class="card-body">
                    <h1 class="card-title text-center">
                        {{ report.title }}
                    </h1> <!-- card-title -->
                </div> <!-- card-body -->
            </div> <!-- card -->
        </div> <!-- col-sm -->
    </div> <!-- row -->
    <div class="row ml-4"">
        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">
                        Report ID:
                    </h5> <!-- card-title -->
                    <p class="card-text text-center">
                        {{ report.id }}
                    </p> <!-- card-text -->
                    <p class="card-text text-center">
                        <a class="btn btn-outline-warning" href="{% url 'reports:add_officer' report.id %}">
                            <i class="fa fa-fw fa-edit"></i>
                        </a>
                    </p> <!-- p -->
                </div> <!-- card-body -->
            </div> <!-- card -->
        </div> <!-- col-sm -->
        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">
                        Created:
                    </h5> <!-- card-title -->
                    <p class="card-text text-center">
                        By: {{ report.created_by }}
                    </p> <!-- card-text -->
                    <p class="card-text text-center">
                        On: {{ report.created }}
                    </p> <!-- card-text -->
                </div> <!-- card-body -->
            </div> <!-- card -->
        </div> <!-- col-sm -->
        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">
                        Report Status:
                    </h5> <!-- card-title -->
                    <p class="card-text text-center">
                        {% if report.active %}
                            Open
                        {% else %}
                            Closed
                        {% endif %}
                    </p> <!-- card-text -->
                    <p class="card-text text-center">
                        Last Update On: {{ report.updated }}
                    </p>
                </div> <!-- card-body -->
            </div> <!-- card -->
        </div> <!-- col-sm -->
    </div> <!-- row -->
    <div class="row ml-4"">
        <div class="col-sm">
            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title text-center">
                        Synopsis:
                    </h5> <!-- card-title -->
                    <p class="card-text text-center">
                        {{ report.synopsis }}
                    </p> <!-- card-text -->
                </div> <!-- card-body -->
            </div> <!-- card -->
        </div> <!-- col-sm -->
    </div> <!-- row -->
    <hr />
    <div class="row ml-4"">
        <div class="col-sm">
            {% if officers|length > 1 %}
                <h4 class="text-center">The Officers
                    <a class="btn btn-outline-success" href="{% url 'reports:add_officer' report.id %}">
                        <i class="fa fa-fw fa-plus"></i>
                    </a></h4>
            {% else %}
                <h4 class="text-center">The Officer
                    <a class="btn btn-outline-success" href="{% url 'reports:add_officer' report.id %}">
                        <i class="fa fa-fw fa-plus"></i>
                    </a></h4>
            {% endif %}
                <div class="card-deck">
                    {% for record in officers %}
                        {% if forloop.counter|divisibleby:"4"  %}
                            </div> <!-- card-deck -->
                            <div class="card-deck">
                                <div class="card mb-3">
                                    <div class="card-body text-center">
                                        <div class="card-text text-center">
                                            <p><strong>Name:</strong> {{ record.officer.get_username }}</p>
                                            <p><strong>Statement:</strong> {{ record.statement }}</p>
                                            {% if record.lead %}
                                                <p><strong>Lead Investigator</strong></p>
                                            {% endif %}
                                            <p class="card-text text-center">
                                                <a class="btn btn-outline-warning" href="{% url 'reports:add_officer' report.id %}">
                                                    <i class="fa fa-fw fa-edit"></i>
                                                </a>
                                                <a class="btn btn-outline-danger" href="{% url 'reports:add_officer' report.id %}">
                                                    <i class="fa fa-fw fa-trash"></i>
                                                </a>
                                            </p> <!-- p -->
                                        </div> <!-- card-text -->
                                    </div> <!-- card-body -->
                                </div> <!-- card -->
                            {% else %}
                                <div class="card mb-3">
                                    <div class="card-body text-center">
                                        <div class="card-text text-center">
                                            <p><strong>Name:</strong> {{ record.officer.get_username }}</p>
                                            <p><strong>Statement:</strong> {{ record.statement }}</p>
                                            {% if record.lead %}
                                                <p>Lead Investigator</p>
                                            {% endif %}
                                            <p class="card-text text-center">
                                                <a class="btn btn-outline-warning" href="{% url 'reports:add_officer' report.id %}">
                                                    <i class="fa fa-fw fa-edit"></i>
                                                </a>
                                                <a class="btn btn-outline-danger" href="{% url 'reports:add_officer' report.id %}">
                                                    <i class="fa fa-fw fa-trash"></i>
                                                </a>
                                            </p> <!-- p -->
                                        </div> <!-- card-text -->
                                    </div> <!-- card-body -->
                                </div> <!-- card -->
                            {% endif %}
                        {% endfor %}
                    </div> <!-- card-deck -->
            </div> <!-- card-body -->
        </div> <!-- col-sm -->
    </div> <!-- row -->
    <hr />
    <div class="row ml-4"">
        <div class="col-sm">
            <h4 class="text-center">The Accused
                <a class="btn btn-outline-success" href="{% url 'reports:add_officer' report.id %}">
                    <i class="fa fa-fw fa-plus"></i>
                </a></h4>
                <div class="card-deck">
                    {% for record in accused %}
                        {% if forloop.counter|divisibleby:"4"  %}
                            </div> <!-- card-deck -->
                            <div class="card-deck">
                                <div class="card mb-3">
                                    <div class="card-body text-center">
                                        <div class="card-text text-center">
                                            <p><strong>Name:</strong> {{ record.first_name }} {{ record.last_name }}</p>
                                            {% if record.alt_first_name or record.alt_last_name %}
                                                <p><strong>Alt Name:</strong> {{ record.alt_first_name }} {{ record.alt_last_name }}</p>
                                            {% endif %}
                                            {% if record.burner_name %}
                                                <p><strong>Burner Name:</strong> {{ record.burner_name }}</p>
                                            {% endif %}
                                            {% if record.alt_burner_name %}
                                                <p><strong>Alt Burner Name:</strong> {{ record.alt_burner_name }}</p>
                                            {% endif %}
                                            <p><strong>Statement:</strong> {{ record.statement }}
                                                <p class="card-text text-center">
                                                    <a class="btn btn-outline-warning" href="{% url 'reports:add_officer' report.id %}">
                                                        <i class="fa fa-fw fa-edit"></i>
                                                    </a>
                                                    <a class="btn btn-outline-danger" href="{% url 'reports:add_officer' report.id %}">
                                                        <i class="fa fa-fw fa-trash"></i>
                                                    </a>
                                                </p> <!-- p -->
                                        </div> <!-- card-text -->
                                    </div> <!-- card-body -->
                                </div> <!-- card -->
                            {% else %}
                                <div class="card mb-3">
                                    <div class="card-body text-center">
                                        <div class="card-text text-center">
                                            <p><strong>Name:</strong> {{ record.first_name }} {{ record.last_name }}</p>
                                            {% if record.alt_first_name or record.alt_last_name %}
                                                <p><strong>Alt Name:</strong> {{ record.alt_first_name }} {{ record.alt_last_name }}</p>
                                            {% endif %}
                                            {% if record.burner_name %}
                                                <p><strong>Burner Name:</strong> {{ record.burner_name }}</p>
                                            {% endif %}
                                            {% if record.alt_burner_name %}
                                                <p><strong>Alt Burner Name:</strong> {{ record.alt_burner_name }}</p>
                                            {% endif %}
                                            <p><strong>Statement:</strong> {{ record.statement }}
                                                <p class="card-text text-center">
                                                    <a class="btn btn-outline-warning" href="{% url 'reports:add_officer' report.id %}">
                                                        <i class="fa fa-fw fa-edit"></i>
                                                    </a>
                                                    <a class="btn btn-outline-danger" href="{% url 'reports:add_officer' report.id %}">
                                                        <i class="fa fa-fw fa-trash"></i>
                                                    </a>
                                                </p> <!-- p -->
                                        </div> <!-- card-text -->
                                    </div> <!-- card-body -->
                                </div> <!-- card -->
                            {% endif %}
                        {% endfor %}
                    </div> <!-- card-deck -->
            </div> <!-- card-body -->
        </div> <!-- col-sm -->
    </div> <!-- row -->
    <hr />

    <div class="row ml-4"">
        <div class="col-sm">
            {% if accuser|length > 1 %}
            <h4 class="text-center">The Accusers
                <a class="btn btn-outline-success" href="{% url 'reports:add_officer' report.id %}">
                    <i class="fa fa-fw fa-plus"></i>
                </a></h4>
            {% else %}
            <h4 class="text-center">The Accuser
                <a class="btn btn-outline-success" href="{% url 'reports:add_officer' report.id %}">
                    <i class="fa fa-fw fa-plus"></i>
                </a></h4>
            {% endif %}
            <div class="card-deck">
                {% for record in accuser %}
                {% if forloop.counter|divisibleby:"4"  %}
            </div> <!-- card-deck -->
            <div class="card-deck">
                <div class="card mb-3">
                    <div class="card-body text-center">
                        <div class="card-text text-center">
                            <p><strong>Name:</strong> {{ record.first_name }} {{ record.last_name }}</p>
                            {% if record.alt_first_name or record.alt_last_name %}
                                <p><strong>Alt Name:</strong> {{ record.alt_first_name }} {{ record.alt_last_name }}</p>
                            {% endif %}
                            {% if record.burner_name %}
                                <p><strong>Burner Name:</strong> {{ record.burner_name }}</p>
                            {% endif %}
                            {% if record.alt_burner_name %}
                                <p><strong>Alt Burner Name:</strong> {{ record.alt_burner_name }}</p>
                            {% endif %}
                            <p><strong>Statement:</strong> {{ record.statement }}
                                <p class="card-text text-center">
                                    <a class="btn btn-outline-warning" href="{% url 'reports:add_officer' report.id %}">
                                        <i class="fa fa-fw fa-edit"></i>
                                    </a>
                                    <a class="btn btn-outline-danger" href="{% url 'reports:add_officer' report.id %}">
                                        <i class="fa fa-fw fa-trash"></i>
                                    </a>
                                </p> <!-- p -->
                        </div> <!-- card-text -->
                        </div> <!-- card-body -->
                    </div> <!-- card -->
                    {% else %}
                    <div class="card mb-3">
                        <div class="card-body text-center">
                            <div class="card-text text-center">
                                <p><strong>Name:</strong> {{ record.first_name }} {{ record.last_name }}</p>
                                {% if record.alt_first_name or record.alt_last_name %}
                                    <p><strong>Alt Name:</strong> {{ record.alt_first_name }} {{ record.alt_last_name }}</p>
                                {% endif %}
                                {% if record.burner_name %}
                                    <p><strong>Burner Name:</strong> {{ record.burner_name }}</p>
                                {% endif %}
                                {% if record.alt_burner_name %}
                                    <p><strong>Alt Burner Name:</strong> {{ record.alt_burner_name }}</p>
                                {% endif %}
                                <p><strong>Statement:</strong> {{ record.statement }}
                                    <p class="card-text text-center">
                                        <a class="btn btn-outline-warning" href="{% url 'reports:add_officer' report.id %}">
                                            <i class="fa fa-fw fa-edit"></i>
                                        </a>
                                        <a class="btn btn-outline-danger" href="{% url 'reports:add_officer' report.id %}">
                                            <i class="fa fa-fw fa-trash"></i>
                                        </a>
                                    </p> <!-- p -->
                            </div> <!-- card-text -->
                            </div> <!-- card-body -->
                        </div> <!-- card -->
                        {% endif %}
                        {% endfor %}
                    </div> <!-- card-deck -->
                </div> <!-- card-body -->
            </div> <!-- col-sm -->
        </div> <!-- row -->
        <hr />
        <div class="row ml-4"">
            <div class="col-sm">
                {% if witnesses|length > 1 %}
                    <h4 class="text-center">The Witnesses
                        <a class="btn btn-outline-success" href="{% url 'reports:add_officer' report.id %}">
                            <i class="fa fa-fw fa-plus"></i>
                        </a></h4>
                {% else %}
                    <h4 class="text-center">The Witness
                        <a class="btn btn-outline-success" href="{% url 'reports:add_officer' report.id %}">
                            <i class="fa fa-fw fa-plus"></i>
                        </a></h4>
                {% endif %}
                    <div class="card-deck">
                        {% for record in witnesses %}
                            {% if forloop.counter|divisibleby:"4"  %}
                                </div> <!-- card-deck -->
                                <div class="card-deck">
                                    <div class="card mb-3">
                                        <div class="card-body text-center">
                                            <div class="card-text text-center">
                                                <p><strong>Name:</strong> {{ record.first_name }} {{ record.last_name }}</p>
                                                {% if record.alt_first_name or record.alt_last_name %}
                                                    <p><strong>Alt Name:</strong> {{ record.alt_first_name }} {{ record.alt_last_name }}</p>
                                                {% endif %}
                                                {% if record.burner_name %}
                                                    <p><strong>Burner Name:</strong> {{ record.burner_name }}</p>
                                                {% endif %}
                                                {% if record.alt_burner_name %}
                                                    <p><strong>Alt Burner Name:</strong> {{ record.alt_burner_name }}</p>
                                                {% endif %}
                                                <p><strong>Statement:</strong> {{ record.statement }}
                                                    <p class="card-text text-center">
                                                        <a class="btn btn-outline-warning" href="{% url 'reports:add_officer' report.id %}">
                                                            <i class="fa fa-fw fa-edit"></i>
                                                        </a>
                                                        <a class="btn btn-outline-danger" href="{% url 'reports:add_officer' report.id %}">
                                                            <i class="fa fa-fw fa-trash"></i>
                                                        </a>
                                                    </p> <!-- p -->
                                            </div> <!-- card-text -->
                                        </div> <!-- card-body -->
                                    </div> <!-- card -->
                                {% else %}
                                    <div class="card mb-3">
                                        <div class="card-body text-center">
                                            <div class="card-text text-center">
                                                <p><strong>Name:</strong> {{ record.first_name }} {{ record.last_name }}</p>
                                                {% if record.alt_first_name or record.alt_last_name %}
                                                    <p><strong>Alt Name:</strong> {{ record.alt_first_name }} {{ record.alt_last_name }}</p>
                                                {% endif %}
                                                {% if record.burner_name %}
                                                    <p><strong>Burner Name:</strong> {{ record.burner_name }}</p>
                                                {% endif %}
                                                {% if record.alt_burner_name %}
                                                    <p><strong>Alt Burner Name:</strong> {{ record.alt_burner_name }}</p>
                                                {% endif %}
                                                <p><strong>Statement:</strong> {{ record.statement }}
                                                    <p class="card-text text-center">
                                                        <a class="btn btn-outline-warning" href="{% url 'reports:add_officer' report.id %}">
                                                            <i class="fa fa-fw fa-edit"></i>
                                                        </a>
                                                        <a class="btn btn-outline-danger" href="{% url 'reports:add_officer' report.id %}">
                                                            <i class="fa fa-fw fa-trash"></i>
                                                        </a>
                                                    </p> <!-- p -->
                                            </div> <!-- card-text -->
                                        </div> <!-- card-body -->
                                    </div> <!-- card -->
                                {% endif %}
                            {% endfor %}
                        </div> <!-- card-deck -->
                </div> <!-- card-body -->
            </div> <!-- col-sm -->
        </div> <!-- row -->
        <hr />
        <div class="row ml-4"">
            <div class="col-sm">
                {% if images|length > 1 %}
                    <h4 class="text-center">The Images
                        <a class="btn btn-outline-success" href="{% url 'reports:add_officer' report.id %}">
                            <i class="fa fa-fw fa-plus"></i>
                        </a></h4>
                {% else %}
                    <h4 class="text-center">The Image
                        <a class="btn btn-outline-success" href="{% url 'reports:add_officer' report.id %}">
                            <i class="fa fa-fw fa-plus"></i>
                        </a></h4>
                {% endif %}
                    <div class="card-deck">
                        {% for record in images %}
                            {% if forloop.counter|divisibleby:"4"  %}
                                </div> <!-- card-deck -->
                                <div class="card-deck">
                                    <div class="card mb-3">
                                        <div class="card-body text-center">
                                            <div class="card-text text-center">
                                                <img class="mb-2" src="{{ record.image.url }}" />
                                                <p><strong>Name:</strong> {{ record.name }}</p>
                                                <p><strong>Description:</strong> {{ record.description }}</p>
                                                <p class="card-text text-center">
                                                    <a class="btn btn-outline-warning" href="{% url 'reports:add_officer' report.id %}">
                                                        <i class="fa fa-fw fa-edit"></i>
                                                    </a>
                                                    <a class="btn btn-outline-danger" href="{% url 'reports:add_officer' report.id %}">
                                                        <i class="fa fa-fw fa-trash"></i>
                                                    </a>
                                                </p> <!-- p -->
                                            </div> <!-- card-text -->
                                        </div> <!-- card-body -->
                                    </div> <!-- card -->
                                {% else %}
                                    <div class="card mb-3">
                                        <div class="card-body text-center">
                                            <div class="card-text text-center">
                                                <img class="mb-2" src="{{ record.image.url }}" />
                                                <p><strong>Name:</strong> {{ record.name }}</p>
                                                <p><strong>Description:</strong> {{ record.description }}</p>
                                                <p class="card-text text-center">
                                                    <a class="btn btn-outline-warning" href="{% url 'reports:add_officer' report.id %}">
                                                        <i class="fa fa-fw fa-edit"></i>
                                                    </a>
                                                    <a class="btn btn-outline-danger" href="{% url 'reports:add_officer' report.id %}">
                                                        <i class="fa fa-fw fa-trash"></i>
                                                    </a>
                                                </p> <!-- p -->
                                            </div> <!-- card-text -->
                                        </div> <!-- card-body -->
                                    </div> <!-- card -->
                                {% endif %}
                            {% endfor %}
                        </div> <!-- card-deck -->
                </div> <!-- card-body -->
            </div> <!-- col-sm -->
        </div> <!-- row -->
        <hr />
        <div class="row ml-4"">
            <div class="col-sm">
                {% if files|length > 1 %}
                    <h4 class="text-center">The Files
                        <a class="btn btn-outline-success" href="{% url 'reports:add_officer' report.id %}">
                            <i class="fa fa-fw fa-plus"></i>
                        </a></h4>
                {% else %}
                    <h4 class="text-center">The File
                        <a class="btn btn-outline-success" href="{% url 'reports:add_officer' report.id %}">
                            <i class="fa fa-fw fa-plus"></i>
                        </a></h4>
                {% endif %}
                    <div class="card-deck">
                        {% for record in files %}
                            {% if forloop.counter|divisibleby:"4"  %}
                                </div> <!-- card-deck -->
                                <div class="card-deck">
                                    <div class="card mb-3">
                                        <div class="card-body text-center">
                                            <div class="card-text text-center">
                                                <img class="mb-2" src="{{ record.image.url }}" />
                                                <p><strong>Name:</strong> {{ record.name }}</p>
                                                <p><strong>Description:</strong> {{ record.description }}</p>
                                                <p class="card-text text-center">
                                                    <a class="btn btn-outline-warning" href="{% url 'reports:add_officer' report.id %}">
                                                        <i class="fa fa-fw fa-edit"></i>
                                                    </a>
                                                    <a class="btn btn-outline-danger" href="{% url 'reports:add_officer' report.id %}">
                                                        <i class="fa fa-fw fa-trash"></i>
                                                    </a>
                                                    <a class="btn btn-outline-primary" href="{% url 'reports:add_officer' report.id %}">
                                                        <i class="fa fa-fw fa-file-download"></i>
                                                    </a>
                                                </p> <!-- p -->
                                            </div> <!-- card-text -->
                                        </div> <!-- card-body -->
                                    </div> <!-- card -->
                                {% else %}
                                    <div class="card mb-3">
                                        <div class="card-body text-center">
                                            <div class="card-text text-center">
                                                <img class="mb-2" src="{{ record.image.url }}" />
                                                <p><strong>Name:</strong> {{ record.name }}</p>
                                                <p><strong>Description:</strong> {{ record.description }}</p>
                                                <p class="card-text text-center">
                                                    <a class="btn btn-outline-warning" href="{% url 'reports:add_officer' report.id %}">
                                                        <i class="fa fa-fw fa-edit"></i>
                                                    </a>
                                                    <a class="btn btn-outline-danger" href="{% url 'reports:add_officer' report.id %}">
                                                        <i class="fa fa-fw fa-trash"></i>
                                                    </a>
                                                    <a class="btn btn-outline-primary" href="{% url 'reports:add_officer' report.id %}">
                                                        <i class="fa fa-fw fa-file-download"></i>
                                                    </a>
                                                </p> <!-- p -->
                                            </div> <!-- card-text -->
                                        </div> <!-- card-body -->
                                    </div> <!-- card -->
                                {% endif %}
                            {% endfor %}
                        </div> <!-- card-deck -->
                </div> <!-- card-body -->
            </div> <!-- col-sm -->
        </div> <!-- row -->
        <hr />
</div> <!-- container-fluid -->
{% endblock %}
