<!DOCTYPE HTML>
<html>
    <head>
        {% load staticfiles %}

        {% load bootstrap4 %}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

        {# Load CSS and JavaScript #}
        {% bootstrap_css %}
        {% bootstrap_javascript jquery='full' %}

        {# Display django.contrib.messages as Bootstrap alerts #}
        {% bootstrap_messages %}

        <title>Principles Office</title>
    </head>
    <body class="bg-light">
        <div class="continer-fluid">
            <div class="row">
                <div class="col-sm">
                    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                        <!-- Brand -->
                        <a class="navbar-brand" href="{% url 'index' %}">Principles Office</a>

                        <!-- Links -->
                        <ul class="navbar-nav">
                            {% if user.is_authenticated %}
                                {% if po %}
                                    <li class="nav-item">
                                        <a class="nav-link text-white" href="{% url 'dashboard' %}">Dashboard</a>
                                    </li>
                                {% endif %}


                                <!-- Dropdown -->
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbardrop" data-toggle="dropdown">
                                        Officer Menu
                                    </a>
                                    <div class="dropdown-menu bg-white">
                                        <a class="dropdown-item text-dark" href="{% url 'logout' %}">Logout</a>
                                        <a class="dropdown-item text-dark" href="{% url 'index' %}">Profile</a>
                                        <a class="dropdown-item text-dark" href="{% url 'index' %}">Create Report</a>
                                        <a class="dropdown-item text-dark" href="{% url 'index' %}">Create Poll</a>
                                        <a class="dropdown-item text-dark" href="{% url 'create_po' %}">Create Principle Office</a>
                                    </div>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="{% url 'login' %}">Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="{% url 'signup' %}">Sign Up</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="{% url 'password_reset' %}">Reset Password</a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        {% block content %}
        {% endblock %}
    </body>
</html>
